/* General Formatting */
*{
    padding: 0%;
    margin: 0%;
  }
  
body{
    background-color: var(--black);
  }
  /* General Formatting End*/
  
  /* Our colour palette*/
  :root {
    --pink: #f6b3e5;
    --purple: #c876ff;
    --dark-purple: #7232f2;
    --dark-blue: #20115b;
    --black: #010108;
  }
  /* Our colour platte end */ 
  
  /* Header section */
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("imgs/back2.jpg");
    background-size: contain;
    height: 7%;
    padding: .1%;
    z-index: 1;
    border-bottom: 5px solid var(--dark-blue);
  }
  header img.logo_img {
    width: 7.25rem;
    height: 8rem;
  }

  .title_img{
    width: 25%;
    height: 70%;
  }
  /* Header section End*/
  
  /* Nav section */
  nav{
    background-color: var(--dark-blue);
  }

  .nav-item dropdown, .nav-item {
    text-decoration: 2px underline dashed var(--dark-purple);
    font-weight: 500;
    font-family: "Comic Sans MS", "Papyrus", "Curlz MT", "Jokerman", "Brush Script MT", "Harrington", "Zapfino", cursive, fantasy;
    font-size: 1rem;
    }
    
  .navbar-brand{
    text-decoration: 2.5px underline solid var(--dark-purple);
    font-weight: 600;
    font-size: 1.5rem;
    padding-left: 1%;
    padding-right: 0.7%;
  }
  /* Nav section End*/
  
  /* Objective section */
  .container {
    background-image: url("imgs/back16.JPG");
    background-size: cover;
    position: relative;
    height: 60vh;
    width: 100vw;
    display: flex;
    align-items: flex-end;
    box-shadow: 2px 2px 25px var(--purple);
  }
  
  .textbox {
    position: absolute;
    bottom: 20px;
    left: 15px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 15px var(--purple);
    max-width: 60%;
    max-height: 30%;
    text-align: center;
    font-size: 0.7rem;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Comic Sans MS", "Papyrus", "Curlz MT", "Jokerman", "Brush Script MT", "Harrington", "Zapfino", cursive, fantasy;
    color: var(--pink)
  }
      
  .textbox h1{
      font-size: 1.2rem;
      line-height: 1.4;
  }
  
  /* Media Query For Objective Section */
  @media only screen and (max-width: 700px) {
    .container {
      padding: 0.3rem;
    }
    
    .textbox {
      overflow: auto;
      font-size: 0.5rem;
      padding: 0.3rem;
      max-width: 90%;
      max-height: 50%
    }
  }
  /* Media Query For Objective Section End*/
  /* Objective section End*/
  
  /* Rules section*/
  #rules {
    margin: 1.5%;
    border-radius: 20px;
    font-family: Arial, sans-serif;
    padding: 2rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
    color: pink;
    border: 3px solid var(--pink);
    box-shadow: 2px 3px 15px var(--purple);
  }
  
  #rules h1{
    text-decoration: dotted underline;
  }
  
  #rules p{
    padding-left: 3.2rem;
  }
  
  /* Rules Media Query section*/
  /* Styles for screens with a maximum width of 768px (tablets and smaller) */
  @media screen and (max-width: 768px) {
    #rules {
      margin: 1%;
      padding: 1rem;
      font-size: 1rem;
      border: 2px solid var(--pink);
      box-shadow: 2px 3px 10px var(--purple);
    }
  
    #rules p {
      padding-left: 1.5rem;
    }
  }
  
  /* Styles for screens with a maximum width of 576px (phones and smaller) */
  @media screen and (max-width: 576px) {
    #rules {
      margin: 0.5rem;
      padding: 0.5rem;
      font-size: 0.9rem;
      border: 1px solid var(--pink);
      box-shadow: 1px 2px 5px var(--purple);
    }
  
    #rules p {
      padding-left: 1rem;
    }
  }
  /* Rules Media Query Section End*/
  /* Rules section End*/
  
  footer {
    margin-bottom: 0%;
    width: 100%;
    background-color: var(--dark-blue);
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
  }
  
  
  .links, .achievements {
    flex-basis: 48%;
    text-align: left;
  }
  
  .links h4, .achievements h4 {
    color: white;
    font-family: "Comic Sans MS", "Papyrus", "Curlz MT", "Jokerman", "Brush Script MT", "Harrington", "Zapfino", cursive, fantasy;
  }
  
  .links p, .links h4, .achievements h4 {
    margin-bottom: 8px;
  }
  
  .links p {
    font-size: 14px;
  }
  
  .achievements ul {
    margin: 0;
    padding: 0;
  }
  
  .achievements ul li {
    list-style: none;
    font-size: 14px;
    margin-bottom: 8px;
  }
  
  .links {
      flex-basis: 50%;
  }
  
  .achievements {
      flex-basis: 50%;
      text-align: right;
  }
  
  .achievements h4 {
      font-size: 1.2em;
      margin-top: 0;
  }
  
  .achievements ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }
  
  .achievements li {
      margin-bottom: 5px;
  }
  
  
  
  
  
    
  
  
  
  
  
  
  
  